@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import "tailwindcss";
*{
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}